## ðŸ”¹ 4. SQL & Databases

---

## 31. What is a primary key?

**A:** A column that uniquely identifies each row in a table.

## 32. How do you select all columns from a table?

**A:** `SELECT * FROM table_name;`

## 33. How do you retrieve unique values from a column?

**A:** `SELECT DISTINCT column FROM table;`

## 34. How to filter data using SQL?

**A:** Use the WHERE clause. Example: `SELECT * FROM table WHERE age > 25;`

## 35. What is the difference between INNER JOIN and LEFT JOIN?

**A:** INNER JOIN returns only matching records; LEFT JOIN returns all records from the left table and matching from the right.

## 36. How do you find the average in SQL?

**A:** `SELECT AVG(column) FROM table;`

## 37. How can you sort results in SQL?

**A:** Use ORDER BY clause.

## 38. What does GROUP BY do?

**A:** It groups rows that have the same values in specified columns.

## 39. How do you limit results in SQL?

**A:** Use `LIMIT n` (MySQL/PostgreSQL) or `TOP n` (SQL Server).

## 40. How to use subqueries in SQL?

**A:** By nesting a SELECT statement inside another. Example: `SELECT name FROM employees WHERE id IN (SELECT emp_id FROM sales);`