In [ ]:
# Question 1
# WAS to print “Hello World” by using shell

In [ ]:
# Question 2
# WAS to print “Hello world” by using python print function

In [ ]:
# Question 3
# WAS to initialize variable and value as 50.

In [ ]:
# Question 4
# WAS to initialize multivariable value are 150,120,250(take your own variable names )

In [ ]:
# Question 5
# WAS to print the type of the data in the given value.

In [ ]:
# Question 6
# WAS to print the address of the memory block in given value.

In [ ]:
# Question 7
# WAS to print your details, first store your details, extract the values and display it.

In [ ]:
# Question 8
# WAS to swap the two values. With a temp variable.

In [ ]:
# Question 9
# WAS to swap the two values without temp variable

In [ ]:
# Question 10
# WAS to initialize a value and print the value, after print then reinitialize the new value to the existing variable and display the value.

In [ ]:
# Question 11
# WAS to convert single to multi value data type (I/p ⇒ a=10  o/p ⇒ ['1','0'])

In [ ]:
# Question 12
# WAS to concat the two multi value data types(str , list, tuple, dict).

In [ ]:
# Question 13
# WAC to perform the length of the collection.

In [ ]:
# Question 14
# WAC to find out the middle value of the given collection.

In [ ]:
# Question 15
# WAS to concat the new string into the starting of the given string.

In [ ]:
# Question 16
# WAS to concat the new string into the ending of the given string.

In [ ]:
# Question 17
# WAS to concat the new string into the middle of the given string.

In [ ]:
# Question 18
# WAS to replace the old character into a new character of the given string.

In [ ]:
# Question 19
# WAS to delete the specific character in the given string.

In [ ]:
# Question 20
# WAS to concat the new string into the specific position of the given string.

In [ ]:
# Question 21
# WAS to concat the new value into the starting of the given list.

In [ ]:
# Question 22
# WAS to concat the new value into the ending of the given list.

In [ ]:
# Question 23
# WAS to concat the new value into the middle of the given list.

In [ ]:
# Question 24
# WAS to modify the new value into the specific position of the given list.

In [ ]:
# Question 25
# WAS to modify the new value into the starting of the given list.

In [ ]:
# Question 26
# WAS to modify the new value into the ending of the given list.

In [ ]:
# Question 27
# WAS to modify the new value into the middle of the given list.

In [ ]:
# Question 28
# WAS to modify the first 4 positions values into a given list.

In [ ]:
# Question 29
# WAS to delete the value in the specific position of the given list.

In [ ]:
# Question 30
# WAS to delete the new value into the ending of the list.

In [ ]:
# Question 31
# WAS to delete the new value into the middle of the list.

In [ ]:
# Question 32
# WAS to concat the new value into starting of the tuple.

In [ ]:
# Question 33
# WAS to concat the new value into the middle of the tuple.

In [ ]:
# Question 34
# WAS to concat the new value into the ending of the tuple.

In [ ]:
# Question 35
# WAS to concat the new value into the set.

In [ ]:
# Question 36
# WAS to concat the new key and value into the dict.

In [ ]:
# Question 37
# WAS to delete the specific key and value in the given dict.

In [ ]:
# Question 38
# WAS to delete the set value.

In [ ]:
# Question 39
# WAS to modify the specific value in the given dict.

In [ ]:
# Question 40
# WAS to concat the list value and tuple value by using type casting.

In [ ]:
# Question 41
# WAS to concat the list value and tuple value without using type casting.

In [ ]:
# Question 42
# WAC to the given number is divisible by 3.

In [ ]:
# Question 43
# WAC to the given number is divisible by 2 and 6.

In [ ]:
# Question 44
# WAC to the given number, the last digit is divisible by 3. (don't use typecasting)

In [ ]:
# Question 45
# WAC to the last digit of a given number is divisible by 3.(use typecasting)

In [ ]:
# Question 46
# WAC to the given number is greater than 150.

In [ ]:
# Question 47
# WAC to the given number is greater than or equal to 100.

In [ ]:
# Question 48
# WAC to the given number is less than 150.

In [ ]:
# Question 49
# WAC to the given number is less than or equal to 100.

In [ ]:
# Question 50
# WAC to the given number is greater than 15 & less than 24

In [ ]:
# Question 51
# WAC to the given number is even.

In [ ]:
# Question 52
# WAC to the given number is odd.

In [ ]:
# Question 53
# WAC to perform the replication of a given string with 6.

In [ ]:
# Question 54
# WAC to the given number is divisible by 3 and also the number should be greater than 22.

In [ ]:
# Question 55
# WAC to perform the length of the collection is even or not.

In [ ]:
# Question 56
# WAC to perform the length of the collection is less than 55 and greater than 16.

In [ ]:
# Question 57
# WAC to perform the length of the collection is divisible by 5 and odd.

In [ ]:
# Question 58
# WAC to extract the middle position of a given collection.(str, list, tuple)

In [ ]:
# Question 59
# WAC to the given number is greater than 20 and less than 30 and it should be even.

In [ ]:
# Question 60
# WAC to the given number is even and it should be less than 120.

In [ ]:
# Question 61
# WAC to the given number is even and present from 40 to 70.

In [ ]:
# Question 62
# WAC to the given number is odd and it should be greater than 97.

In [ ]:
# Question 63
# WAC to the given number is less than 122 and greater than 48 and divisible by 4.

In [ ]:
# Question 64
# WAC to the given number is divisible by 3 or 5.

In [ ]:
# Question 65
# WAC to the given number is between 100 to 200 including the limit.

In [ ]:
# Question 66
# WAC to the given number is in between 100 to 200.

In [ ]:
# Question 67
# WAC to the given string's last character ASCII value should be divisible by 5.

In [ ]:
# Question 68
# WAC to the given number is present between 60 to 130 and divisible by 3 and 4.

In [ ]:
# Question 69
# WAC to the given number is even or less than 25.

In [ ]:
# Question 70
# WAC to the given number is even or greater than 25.

In [ ]:
# Question 71
# WAC to the given number is divisible by either 3 or 5.

In [ ]:
# Question 72
# WAC to the given number is not an even number.

In [ ]:
# Question 73
# WAC to the given number is not an odd number.

In [ ]:
# Question 74
# WAC to the given number is not divisible by 3.

In [ ]:
# Question 75
# WAC to the given number is not divisible by 3 and 5.

In [ ]:
# Question 76
# WAC to the given number is not divisible by 3 or 5.

In [ ]:
# Question 77
# WAC to the given character ascii value is not divisible by 5.

In [ ]:
# Question 78
# WAC to find out the ascii character in a given number.

In [ ]:
# Question 79
# WAC to find out the ascii value in a given character.

In [ ]:
# Question 80
# WAC to the given character is uppercase or not.

In [ ]:
# Question 81
# WAC to the given character is the alphabet.

In [ ]:
# Question 82
# WAC to the given character is lowercase.

In [ ]:
# Question 83
# WAC to the given character is the ascii number.

In [ ]:
# Question 84
# WAC to the given character is the special character.

In [ ]:
# Question 85
# WAC to the given character should not be uppercase.

In [ ]:
# Question 86
# WAC to the given character should not be lowercase.

In [ ]:
# Question 87
# WAC to the given character should not be the alphabet.

In [ ]:
# Question 88
# WAC to the given character should not be an ascii number.

In [ ]:
# Question 89
# WAC to the given character is a vowel.

In [ ]:
# Question 90
# WAC to the given character is a consonant.

In [ ]:
# Question 91
# WAS to convert uppercase to lowercase in a given character.

In [ ]:
# Question 92
# WAS to convert lowercase to uppercase in a given character.

In [ ]:
# Question 93
# WAS to extract the previous character in the given character.

In [ ]:
# Question 94
# WAS to extract the next character in the given character.

In [ ]:
# Question 95
# WAC to the given character ASCII value is even and lowercase.

In [ ]:
# Question 96
# WAC to the given character ASCII value is odd and uppercase.

In [ ]:
# Question 97
# WAC to which the given number is converted to character is not a special symbol.

In [ ]:
# Question 98
# WAC to the given number of the ascii character is a vowel.

In [ ]:
# Question 99
# WAC to check if the first and second characters are sequence or not in a given string.

In [ ]:
# Question 100
# WAC to the given ASCII value should be either >50 or >25 or <112.

In [ ]:
# Question 101
# WAC to the given number is increased by 1.

In [ ]:
# Question 102
# WAC to the given number is increased by 2.

In [ ]:
# Question 103
# WAC to the given number is decreased by 1.

In [ ]:
# Question 104
# WAC to the given number is decreased by 3.

In [ ]:
# Question 105
# WAC to the given integer number is present in the collection.

In [ ]:
# Question 106
# WAC to perform the addition operation on A and B and update to A.

In [ ]:
# Question 107
# WAC to the given value is present in the collection.

In [ ]:
# Question 108
# WAC to the given list is present in the list.

In [ ]:
# Question 109
# WAC to the given dict value is present in tuple.

In [ ]:
# Question 110
# WAC to check given value is integer or not.

In [ ]:
# Question 111
# WAC to check given value is string or not.

In [ ]:
# Question 112
# WAC to check given value is single value or not.

In [ ]:
# Question 113
# WAC to check given value should not be a single value.

In [ ]:
# Question 114
# WAC to check given value is multi value or not.

In [ ]:
# Question 115
# WAC to check given value is mutable or not.

In [ ]:
# Question 116
# WAC to check given value is immutable or not.

In [ ]:
# Question 117
# WAC to check given value should be immutable.

In [ ]:
# Question 118
# WAC to check value divisible by 6 and present in collection.

In [ ]:
# Question 119
# WAC to perform bitwise AND on 15 and 19.

In [ ]:
# Question 120
# WAC to perform bitwise OR on 115 and 79.

In [ ]:
# Question 121
# WAC to perform bitwise XOR on 56 and 22.

In [ ]:
# Question 122
# WAC to perform bitwise NOT on 15.

In [ ]:
# Question 123
# WAC to perform bitwise left shift on 32 by 3.

In [ ]:
# Question 124
# WAC to perform bitwise right shift on 25 by 2.

In [ ]:
# Question 125
# Find the output of (10+20*60 and 10**3) or ({10,20} or not ([15-16]))

In [ ]:
# Question 126
# WAC to check if first and last characters are same in given list.

In [ ]:
# Question 127
# WAC to check if a given key is present in a dict.